<div class="container border">
  <% @users.each do |friend| %>
    <div class="row">
    <div class="col-md-4 p-3" >
      <div class="img-cover text-center ">
        <img src="<%= friend.photo %>" width="180" alt="not found">
      </div>
    </div>
    <div class="col-md-8 p-3" >
      <div class="border p-4"><h3><%= link_to friend.name, user_path(friend) %></h3>
      <h6 class="pull-right text-right">Number of posts: <%= friend.posts_counter %></h6></div>
    </div>
  </div>
  <% end %>
</div>